@forward './lib/core/style/spacing';
@use '@angular/material' as mat;
@use './lib/core/theming/palette';

@import './lib/avatar/avatar-base';
@import './lib/button/button-base';

@include mat.core();

$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(palette.$primary-dark-palette),
   accent: mat.define-palette(palette.$secondary-dark-palette),
 ),
  typography: mat.define-typography-config()
));

$light-theme: mat.define-light-theme((
 color: (
    primary: mat.define-palette(palette.$primary-light-palette),
   accent: mat.define-palette(palette.$secondary-dark-palette),
 )
));

@include mat.all-component-themes($light-theme);

@media (prefers-color-scheme: dark) {
  @include mat.all-component-colors($dark-theme);
}