# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
*   @rbordeanu @bcldvd @ttalbot

# Repository management
/scripts/   @bcldvd @ttalbot
/tools/generators/angular-component    @rbordeanu
/tools/generators/web-component        @bcldvd @dorsaffrigui

# Themes and style files
/themes/    @dorsaffrigui @ttalbot
*.scss      @dorsaffrigui @ttalbot
*.css       @dorsaffrigui @ttalbot
*.png       @dorsaffrigui @ttalbot
*.jpeg      @dorsaffrigui @ttalbot
*.jpg       @dorsaffrigui @ttalbot
*.svg       @dorsaffrigui @ttalbot

# Palette service
/packages/angular-components/core/src/palette/palette.defaults.ts   @dorsaffrigui @ttalbot

# Per components owners
/packages/angular-components/global-search/            @rbordeanu
/packages/angular-components/scroll-to-top/            @rbordeanu
/packages/angular-components/table/                    @Ping-YUAN
/packages/angular-components/popover/                  @rbordeanu
/packages/angular-components/repeater/                 @xmonvoisin
/packages/angular-components/filter/filter-tree/       @Pi5rr5
/packages/angular-components/vector-map/               @rbordeanu
/packages/angular-components/wizard/                   @rbordeanu


