# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence.

- @bcldvd @ttalbot @BeataKr @JakubRumpca @dagmaradolasinska @jwarzocha

# Repository management

/scripts/ @bcldvd @ttalbot
/tools/generators/angular-component
/tools/generators/web-component @bcldvd @dorsaffrigui

# Themes and style files

/themes/ @dorsaffrigui @ttalbot
_.scss @dorsaffrigui @ttalbot
_.css @dorsaffrigui @ttalbot
_.png @dorsaffrigui @ttalbot
_.jpeg @dorsaffrigui @ttalbot
_.jpg @dorsaffrigui @ttalbot
_.svg @dorsaffrigui @ttalbot

# Palette service

/libs/angular-components/core/src/palette/palette.defaults.ts @dorsaffrigui @ttalbot

# Per components owners

/libs/angular-components/global-search/
/libs/angular-components/scroll-to-top/
/libs/angular-components/table/ @Ping-YUAN
/libs/angular-components/popover/
/libs/angular-components/repeater/ @xmonvoisin
/libs/angular-components/filter/filter-tree/
/libs/angular-components/vector-map/
/libs/angular-components/wizard/
