<h2>Horizontal Status Stepper Example</h2>
<uxg-horizontal-status-stepper [currentStep]="3">
  <uxg-status-step>
    <span step-title>Name of 1st step</span>
    secondary text
  </uxg-status-step>
  <uxg-status-step>
    <span step-title>Name of 2nd step</span>
    secondary text
  </uxg-status-step>
  <uxg-status-step>
    <span step-title>Current Step text</span>
    secondary text
  </uxg-status-step>
  <uxg-status-step>
    <span step-title>Some really really really really long text</span>
    secondary text
  </uxg-status-step>
  <uxg-status-step>
    <span step-title>Name of 5th step</span>
    secondary text
  </uxg-status-step>
  <uxg-status-step>
    <span step-title>Done</span>
    secondary text
  </uxg-status-step>
</uxg-horizontal-status-stepper>
