<div class="wrapper">
  <h5 class="uxg-h5">Default with menu</h5>
  <mat-toolbar>
    <uxg-breadcrumb [breadcrumbs]="defaultBreadcrumbs"></uxg-breadcrumb>
  </mat-toolbar>

  <h5 class="uxg-h5">Default with menu + primary color</h5>
  <mat-toolbar>
    <uxg-breadcrumb [breadcrumbs]="defaultBreadcrumbs" color="primary"></uxg-breadcrumb>
  </mat-toolbar>

  <h5 class="uxg-h5">Default without menu</h5>
  <mat-toolbar>
    <uxg-breadcrumb [breadcrumbs]="defaultBreadcrumbsWithoutMenu"></uxg-breadcrumb>
  </mat-toolbar>

  <h5 class="uxg-h5">Only one item</h5>
  <mat-toolbar>
    <uxg-breadcrumb [breadcrumbs]="onlyOneItem"></uxg-breadcrumb>
  </mat-toolbar>

  <h5 class="uxg-h5">Dense mode</h5>
  <mat-toolbar>
    <uxg-breadcrumb dense [breadcrumbs]="defaultBreadcrumbsWithoutMenu"></uxg-breadcrumb>
  </mat-toolbar>

  <h5 class="uxg-h5">Dense mode + accent color</h5>
  <mat-toolbar>
    <uxg-breadcrumb dense [breadcrumbs]="defaultBreadcrumbsWithoutMenu" color="accent"></uxg-breadcrumb>
  </mat-toolbar>
</div>
