<div class="demo">
  <h5 class="uxg-h5">Navigation list</h5>
  <mat-nav-list class="container uxg-nav-list">
    <a mat-list-item class="uxg-list-item-selected">
      <mat-icon matListItemIcon>home</mat-icon>
      <p matListItemTitle>Home</p>
    </a>
    <a mat-list-item>
      <mat-icon matListItemIcon>dashboard</mat-icon>
      <p matListItemTitle>
        <span matBadge="6" class="uxg-side-badge" matBadgeOverlap="false">Applications</span>
        <mat-icon matListItemIcon>chevron_right</mat-icon>
      </p>

      <!-- <button mat-icon-button matListItemMeta>
        <mat-icon>info</mat-icon>
      </button> -->

      <!-- <span matListItemMeta>
        <mat-icon matListItemIcon>chevron_right</mat-icon>
      </span> -->
      <!-- <mat-icon matListItemIcon>chevron_right</mat-icon> -->
    </a>
    <a mat-list-item>
      <mat-icon matListItemIcon>notifications</mat-icon>
      <p matListItemTitle>Notifications</p>
    </a>
    <a mat-list-item>
      <mat-icon matListItemIcon>extension</mat-icon>
      <p matListItemTitle>Tools</p>
    </a>
    <a mat-list-item>
      <mat-icon matListItemIcon>settings</mat-icon>
      <p matListItemTitle>Settings</p>
    </a>
  </mat-nav-list>

  <h5 class="uxg-h5">Sub-level navigation list</h5>
  <mat-nav-list class="container uxg-nav-list-level">
    <a mat-list-item>
      <mat-icon matListItemIcon>filter_none</mat-icon>
      <p matListItemTitle>Overview</p>
    </a>
    <a mat-list-item>
      <mat-icon matListItemIcon>dashboard</mat-icon>
      <p matListItemTitle>RFQs Orders</p>
    </a>
    <a mat-list-item>
      <mat-icon matListItemIcon>dashboard</mat-icon>
      <p matListItemTitle>Market Data</p>
    </a>
    <a mat-list-item>
      <mat-icon matListItemIcon>dashboard</mat-icon>
      <p matListItemTitle>Trades and Positions</p>
    </a>
    <a mat-list-item>
      <mat-icon matListItemIcon>dashboard</mat-icon>
      <p matListItemTitle>Client Data</p>
    </a>
  </mat-nav-list>

  <h5 class="uxg-h5">List divider</h5>
  <mat-list class="container">
    <mat-list-item>
      <p>Help</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <p>Sign out</p>
    </mat-list-item>
  </mat-list>

  <h5 class="uxg-h5">Link list</h5>
  <mat-nav-list class="container uxg-link-list">
    <a mat-list-item>
      <mat-icon matListItemIcon>help</mat-icon>
      <span matListItemTitle>Help</span>
    </a>
    <a mat-list-item>
      <mat-icon matListItemIcon>power</mat-icon>
      <p matListItemTitle>Sign out</p>
    </a>
  </mat-nav-list>

  <h5 class="uxg-h5">Ordered list</h5>
  <ol class="container uxg-ol">
    <li>
      <h5 class="uxg-subtitle-1">First step</h5>
      <p class="uxg-body-1">Some text under the title of the ordered list.</p>
    </li>
    <li>
      <h5 class="uxg-subtitle-1">Second step</h5>
      <p class="uxg-body-1">Here is some more content.</p>
    </li>
    <li>
      <h5 class="uxg-subtitle-1">Third step</h5>
      <p class="uxg-body-1">You can imagine adding images or videos here.</p>
    </li>
  </ol>
</div>
